



@font-face {
    font-family: Dragon-Lord;
    src: url(../fonts/DragonlordPersonalUseOnlyRegular-PKxzm.otf);
}
/*************************************************************************
Default Document Styling
**************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

header{
    opacity: 92%;
}

/*************************************************************************
3js Scene
**************************************************************************/
.scene{
    background: url(../images/DnD_Background.jpg);
}

.scene,
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#hero-text{
    padding-top: 30vh;
    opacity: 89%;
}

.hero-h1{
    color: #DC242C;
    font-size: 8rem;
    font-family: Dragon-Lord;
    background-color: #F5A200;
    width: 100vh;
    border-top: 10px solid #664034;
    border-bottom: 10px solid #664034;
    border-right: 5px solid #664034;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

/*************************************************************************
Clouds Optional
**************************************************************************/
.clouds{
	width:600vw;
	height: 110vh;
	background: transparent url("../images/DnD_Clouds.png");
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    animation: move-background 100s linear infinite;
    opacity: 75%;
}
.stars {
    background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 90%;
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }

/*************************************************************************
Clouds Optional
**************************************************************************/

#encounter-creator{
    padding-top: 50vh;
    align-content: center;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: #664034;
    color: white;
    width: 50%;
}