@import url("https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap");

@font-face {
  font-family: Morris;
  src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
}

@font-face {
  font-family: Dragon-Lord;
  src: url(../fonts/DragonlordPersonalUseOnlyRegular-PKxzm.otf);
}

/*************************************************************************
Default Document Styling
**************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #24221d;
  box-shadow: #664034 0px 0px 50px 0px inset;
  overflow-x: hidden;
}

header {
  opacity: 88%;
  z-index: 100;
  position: fixed;
  width: 100vw;
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 10px rgba(220, 120, 0, 0.8);
}

.medieval-text {
  font-family: Morris;
  font-size: 5rem;
}

/*************************************************************************
3js Scene
**************************************************************************/
.scene {
  background: url(../images/DnD_Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#hero-text {
  /* padding-top: 30vh; */
  opacity: 95%;
}

.hero-h1 {
  color: #dc242c;
  font-size: 5em;
  font-family: Dragon-Lord;
  width: 50vw;
  top: 35vh;
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 10px rgba(220, 120, 0, 0.8);
  border-top: 8px solid #664034;
  border-bottom: 8px solid #664034;
  border-right: 8px solid #f5a200;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow-y: hidden;
  text-align: center;
}

.clouds {
  width: 1000vw;
  background: transparent url("../images/DnD_Clouds.png");
  /* background-size: 1000px 1000px; */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 69%;
  z-index: 0;
}

.stars {
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 90%;
}

/*************************************************************************
Section Styling
**************************************************************************/

#howitworks-section {
  min-height: 100vh;
  padding-top: 30px;
}

#creator-section {
  padding-top: 10vh;
}

#encounter-section {
  padding-top: 50px;
}

#howitworks-section .container {
  float: left;
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 10px rgba(220, 120, 0, 0.8);
  letter-spacing: 0.05em;
  line-height: 1.8;
}

#howitworks-section img {
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

/*************************************************************************
Encounter Creator
**************************************************************************/
#encounter-info {
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 10px rgba(220, 120, 0, 0.8);
  min-height: 30vh;
}

#encounter-info h3 {
  font-size: 3rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

form {
  display: block;
  padding: 50px;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #664034;
  background-image: repeating-linear-gradient(
    50deg,
    rgba(54, 31, 31, 0.25),
    rgba(19, 15, 15, 0.25) 10px,
    transparent 5px,
    transparent 88px
  );
}

.search-container {
  width: 60vw;
  position: relative;
}

.autocomplete-input {
  padding: 15px 15px;
  width: calc(100% - -24px);
  border-radius: 1px;
  border: none;
  outline: none;
  color: #000;
  font-weight: bold;
  background-color: #fff;
}

/*************************************************************************
Encounter Section 
**************************************************************************/
#spotify-player {
  background-image: url("../images/DnD_Tavern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 20px;
  min-height: 30vh;
}

#spotify-player li {
  display: inline;
}

#encounter-section-table {
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 10px rgba(220, 120, 0, 0.8);
  letter-spacing: 0.05em;
  line-height: 1.8;
}
